# database configuration
MONGODB_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/your_db_name

# Email configuration for sending emails (e.g., appointment confirmations, password resets)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_smtp_user_here
SMTP_PASS=your_smtp_password_here
FROM_EMAIL=your_email@example.com

# Cloudinary configuration for storing and managing images (e.g., profile pictures, medical reports)
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
